body {
    background-image: url("assets/backdrop.jpg");
    background-size: cover;
    backdrop-filter: blur(10px) brightness(20%);
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    padding: 20px;
    color: aliceblue;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-size: 24px;
}

h3 {
    color:darkgoldenrod;
}

.form_container {
    margin-left: 30px;
    margin-top: 20px;
    padding-bottom: 20px;
}

.input_label {
    display: inline-block;
    font-size: 38px;
    color: aliceblue;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    margin-bottom: 10px;
    margin-top: 20px;
}

.radio-option {
    margin-bottom: 10px; 
}


.option-title {
    font-size: 30px;
    color: aliceblue;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}

.textInput {
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    padding: 10px;
    width: 680px;
    border-style: solid;
    border-width: 4px;
    border-color: darkgoldenrod;
    resize: none;
}

.inputError {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-size: 30px;
    color: goldenrod;
    margin-left: 20px;
    vertical-align: central;
}

#q2 {
    height: 200px;
}

#submit {
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    padding: 10px;
    width: 708px;
    margin-top: 30px;
    border-style: solid;
    border-width: 4px;
    border-color: darkgoldenrod;
    resize: none;
}

#submit:hover {
    color: aliceblue;
    background-color: rgb(4, 30, 62, 0.3);
    cursor: pointer;
}

@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    .form_container {
        margin: 12px;
    }

    .input_label, .option-title, .inputError {
        font-size: 28px;
    }

    .textInput {
        width: 250px;
        font-size: 18px;
    }

    #submit {
        width: 278px;
    }
}